/* Container Flex */

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10% 20%;
}

/* Flex Items (Photos) */

img {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 1px 8px;
    transition: .5s;
}

img:hover {
    transform: rotate(-5deg);
}

/* Search Bar */

.wrap {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 35%;
  }

.search {
    position: relative;
    display: flex;
}

.searchBar {
    width: 25%;
    border: 1px solid rgb(189, 189, 189);
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    transition: .5s;
}

.searchBar:hover,
.searchBar:active {
    transform: scale(1.1);
}