/* Container Flex */

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10% 20% 0 20%;
    justify-content: center;
}

/* Flex Items (Photos) */

img {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 2px 1px 8px black;
    transition: .5s;
}

img:hover {
    /* transform: rotate(-5deg); */
}

/* Search Bar */

.search {
    display: flex;
    justify-content: center;
    position: relative;
}

.searchBar {
    height: 30px;
    width: 25%;
    border: 1px solid rgb(158, 158, 158); 
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    font-size: 15px;
    outline: none;
    position: absolute;
    top: 100px;
}

/* Mediq Queries */

